*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------------------- */
/* ---------BODY------------ */
/* ------------------------ */
body{
    background: #1D1D1D;
    color: white;
    margin:90px 62px 0 186px;
}
.flex{
    display: flex;
}
/* --------------------------- */
/* --------HAMBURGER--------- */
/* ------------------------- */

#headerhamburger{
   position: fixed;
   width: 230px;
   height: 100%;
   background: rgba(29,29,29, 0.5);
   left: -230px;
   transition: .5s ease-out;
   z-index: 4;
}

#headerhamburger a{
   text-decoration: none;
}

.headerToggleButton{
   position: absolute;
   top: 20px;
   left: 250px;
   cursor: pointer;
   height: 50px;
   width: 50px;
}

.headerToggleButton span{
   width: 60px;
   height: 10px;
   background: rgb(236, 236, 236);
   
   display: block;
   margin-top: 4px;
   transition: .5s ease;
}

.liste{
   color: #fafafa;
   list-style-type: none;
   font-size: 30px;
   cursor: pointer;
   padding-left: 20px;
   text-decoration: none;
}

.liste:hover{
    
   background: rgba(236,236,236, 0.5);
   color: #fafafa;
}

#headerhamburger.active{
   left: 0;
}

#headerhamburger.active .headerToggleButton{
   top: 2.8rem;
   left: 235px;
}

#headerhamburger.active span{
   position: absolute;
}
#headerhamburger.active span:nth-child(1){
   transform: rotate(45deg);
}

#headerhamburger.active span:nth-child(2){
   opacity: 0;
}
#headerhamburger.active span:nth-child(3){
   transform: rotate(-45deg);
}

/* --------------------------- */
/* ------IMAGE + TITRE------- */
/* ------------------------- */
.titre{
    height: 600px;
}
.couvrefeu{
    font-family: 'Press Start 2P', cursive;
    font-size:70px;
}

    /* JEUX VIDEOS */
.jv{
    font-size: 100px;
    font-family: 'Press Start 2P', cursive;
    position: sticky;  
    top: 1em; 
}
    /* IMAGE */
.imageheader{
    padding: 5%;
    justify-content: center;
}
    /* BARRE QUI CLIGNOTE */
.blink{
    color:white;
    animation: blink 1s linear infinite;
}
  @keyframes blink{  
    50% {opacity: 0;}
}

.couvrefeu{
    justify-content: flex-end;
}

/* --------------------------- */
/* -----------INTRO---------- */
/* ------------------------- */

#introUn{
    padding-top: 20%;
}
.introA, .introB{
    text-align: center;
}
#introTrois{
    padding-bottom: 20%;
}
#introUn, #introTrois{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
#introDeux{
    padding: 10%;
    justify-content: center;
}

/* --------------------------- */
/* ------------FLIP---------- */
/* ------------------------- */

.flip-box{
    width: 50%;
    height: 446px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
  
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.flip-box-back {
    transform: rotateY(180deg);
}

/* --------------------------- */
/* --------INFORMATIONS------ */
/* ------------------------- */

#fr, #kr, #ch{
    height: 846px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
#myBtn, #myBtn1, #myBtn2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-left: 15% ;
    font-size: 70px;
    background: none;
    border: none;
}
#myBT1{
    right: 3;
}
.citation{
    font-size: 70px;
    font-style:italic;
   justify-content: center;
   align-items: center;
}

.readMe{

    font-size: 30px;
}

.texte{
    border: violet 2px solid;
    width: 672px;
}
.modal, .modal1, .modal2{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: #1D1D1D;
    background-color: rgba(29,29,29, 0.5);
}

.modal-content, .modal-content1, .modal-content2 {
    margin: 9%;
    padding: 5%;
    height: 90%;
    width: 80%; 
}
.modal-content{
    background: url(images/images/MapDofus.png) no-repeat center / cover;
}
.modal-content1{
    background: url(images/images/MapLol.png) no-repeat center / cover;
}
.modal-content2{
    background: url(images/images/MapOver.png) no-repeat center / cover;
}
.close, .close1, .close2 {
    float: right;
    font-size: 50px;
    font-weight: bold;
}
  
.close:hover,
.close:focus,.close1:hover,
.close1:focus,.close2:hover,
.close2:focus  {
    text-decoration: none;
    cursor: pointer;
}

