*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------------------- */
/* ---------BODY------------ */
/* ------------------------ */
body{
    background: black;
    color: white;
    margin:90px 62px 0 186px;
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}
.grid{
    display: grid;
}
    /* font */
.couvrefeu, .jv, #pp, .pptitre, .footertitre{
    font-family: 'Press Start 2P', cursive;
}
    /* size */
.jv, #pp{
    font-size: 90px;
}
.couvrefeu, #myBtn, #myBtn1, #myBtn2, .citation, .txttransi{
    font-size:70px;
}
.close, .close1, .close2{
    font-size: 50px;
}
.pptitre, .soit{
    font-size: 36px;
}
header,.liste, .flippaysFR, .flipnumeroFR{   
font-size: 30px;
}
.readMe, #introUn, #introTrois, .pptexte{
    line-height: 140%;
    font-size: 24px;
}
.footertitresource, .footertitrereseaux, .footerinfotitre, .flippaysKR, .flipnumeroKR, .flippaysCH, .flipnumeroCH, .texte {
    font-size: 18px;
}
.boutoncategorie.CategorieListe, .CategorieListe a , .titreleg{
    font-size: 14px;
}

/* --------------------------- */
/* -------DISPLAY NONE------- */
/* ------------------------- */
.flipreponsive, .imageheaderR, .imageheaderR2, #myBtnR, #myBtn1R, #myBtn2R, .pp1R, .pp2R, .pp3R, .pp4R, .pp5R, .pp6R, .pptitreR, .pptexteR, .ppimageR, #conclusionR, .imageheaderR3, .flipreponsiveR, .texteresponsiveR2, .flipreponsiveR, .DofusHeaderR2, .LOLHeaderR2, .OverHeaderR2, .flippaysFRR2, .flippaysKRR2, .flippaysCHR2, .flipnumeroFRR2, .flipnumeroKRR2, .flipnumeroCHR2{
        display: none;
}
        

/* --------------------------- */
/* --------HAMBURGER--------- */
/* ------------------------- */

#headerhamburger{
   position: fixed;
   width: 230px;
   height: 100%;
   background: rgba(0,0,0, 0.5);
   left: -230px;
   transition: .5s ease-out;
   z-index: 4;
}

#headerhamburger a{
   text-decoration: none;
}

.headerToggleButton{
   position: absolute;
   top: 20px;
   left: 250px;
   cursor: pointer;
   height: 50px;
   width: 50px;
}

.headerToggleButton span{
   width: 60px;
   height: 10px;
   background: rgb(236, 236, 236);
   display: block;
   margin-top: 4px;
   transition: .5s ease;
}

.liste{
   color: #fafafa;
   list-style-type: none;
   cursor: pointer;
   padding-bottom:5% ;
   padding-left: 20px;
   text-decoration: none;
}

.liste:hover{
   background: rgba(236,236,236, 0.5);
   color: #fafafa;
}

#headerhamburger.active{
   left: 0;
}

#headerhamburger.active .headerToggleButton{
   top: 2.8rem;
   left: 235px;
}

#headerhamburger.active span{
   position: absolute;
}
#headerhamburger.active span:nth-child(1){
   transform: rotate(45deg);
}

#headerhamburger.active span:nth-child(2){
   opacity: 0;
}
#headerhamburger.active span:nth-child(3){
   transform: rotate(-45deg);
}

/* --------------------------- */
/* ------IMAGE + TITRE------- */
/* ------------------------- */
.titre{
    height: 600px;
}
    /* JEUX VIDEOS */

.wrapper {
    height: 100%;
} 

.typing{
    position: sticky;
    top: 1em;
    width: 100%;
    animation: typing 2s steps(22), .5s step-end alternate;
    white-space: nowrap;
    overflow: hidden;
}
  
  @keyframes typing {
    from {
      width: 0
    }
}

    /* IMAGE */
.imageheader{
    padding: 5%;
    justify-content: center;
}
    /* BARRE QUI CLIGNOTE */
.blink{
    animation: blink 1s linear infinite;
}
  @keyframes blink{  
    50% {opacity: 0;}
}

.couvrefeu{
    justify-content: flex-end;
}

/* --------------------------- */
/* -----------INTRO---------- */
/* ------------------------- */

#introUn{
    padding-top: 20%;
}
.introA, .introB{
    text-align: left;
}
#introTrois{
    padding-bottom: 20%;
}
#introUn, #introTrois{
    font-weight: 300;
}
#introDeux{
    padding: 5%;
    justify-content: center;
}
.soit{
    justify-content: center;
    text-align: center;
}
/* --------------------------- */
/* ------------FLIP---------- */
/* ------------------------- */

.flippaysFR, .flipnumeroFR, .flippaysKR, .flipnumeroKR, .flippaysCH, .flipnumeroCH{
    text-align: center;
    position: relative;
    right: 35px;
}
.flippaysFR{
    top: 218px;
}

.flipnumeroFR{
    top: 225px;
}
.flippaysKR{ 
    top: 243px;
}

.flipnumeroKR{
    top: 260px;
}

.flippaysCH{ 
    top: 310px;
}
.flippaysCH, .flipnumeroCH{
    color: #1d1d1d;
}
.flipnumeroCH{  
    top: 335px;
}

.flip-box-back{
    background: url(images/flip/LOGIN-SCREEN\ DOFUS\ 2.png) no-repeat;
}
.flip-box-back1{
    background: url(images/flip/LOGIN-SCREEN\ LOL\ 2.png) no-repeat;
}
.flip-box-back2{
    background: url(images/flip/LOGIN-SCREEN\ OVER\ 2.png) no-repeat;
}
.flip-box{
    width: 50%;
    height: 446px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
  
.flip-box-front, .flip-box-back, .flip-box-back1, .flip-box-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.flip-box-back, .flip-box-back1, .flip-box-back2{
    transform: rotateY(180deg);
}

/* --------------------------- */
/* --------INFORMATIONS------ */
/* ------------------------- */

#fr, #kr, #ch{
    padding-left: 10%;
    height: 650px;
    justify-content: center;
}

#myBtn, #myBtn1, #myBtn2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding-left: 15% ;
        background: none;
        border: none;

}
.citationkr{
    width: 100%;
}
.citation{
    border-right: white 2px solid;
    font-style:italic;
    justify-content: center;
    align-items: center;

}
.readMe{
    padding: 5%;
    text-decoration: underline;
}
.texte{
    line-height: 140%;
    font-weight: 300;
    text-align: center;
    background: rgba(29,29,29, 0.7);
    width: 100%;
}

.modal, .modal1, .modal2{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(29,29,29, 0.5);
}

.modal-content, .modal-content1, .modal-content2 {
    margin: 9%;
    padding: 5%;
    height: auto;
    width: 80%; 
}
.modal-content{
    background: url(images/images/MapDofus.png) no-repeat center / cover;
}
.modal-content1{
    background: url(images/images/MapLol.png) no-repeat center / cover;
}
.modal-content2{
    background: url(images/images/MapOver.png) no-repeat center / cover;
}
.close, .close1, .close2 {
    float: right;
    font-weight: bold;
}
  
.close:hover,
.close:focus,.close1:hover,
.close1:focus,.close2:hover,
.close2:focus  {
    text-decoration: none;
    cursor: pointer;
}
/* --------------------------- */
/* --------TRANSITION-------- */
/* ------------------------- */

#transition{

    flex-direction: column;
    height: 1100px;
}
.transi{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    position: sticky;
}
.txttransi{
    padding-left:50px;
    justify-content:center;  
}

.chargement{

        animation: blink 3s linear infinite;
    }
      @keyframes chargement{ 
        0% {opacity: 0;}
        50% {opacity: 0;} 
        100% {opacity: 0;}
    }
/* --------------------------- */
/* --------CONCLUSION-------- */
/* ------------------------- */

#pp{
    margin-top: 35%;
    padding: 15%;
    text-align: center;
}
.pp1,.pp2 ,.pp3 ,.pp4 ,.pp5 ,.pp6{
    justify-content: center;
    align-items: center;
    padding: 8%;
}

.pptitre, .pptexte{
    padding: 2%;
    text-align: center;
    justify-content: center;
}
.ppimage{
    justify-content: center;
    padding-left: 30%;
}

#conclusion{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


/* --------------------------- */
/* ----------FOOTER---------- */
/* ------------------------- */


footer{
    padding: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "f1 f1 f1" "f2 f3 f4" ". f5 f5";
}
.footertitre, .footertitresource, .reseaux, .infoleg{
    justify-content: center;
}
.footertitre{
    padding-bottom: 5%;
    grid-area: f1;
}
.source{
    grid-area: f2;

}
.reseaux{
    width: 100%;
    grid-area: f3;
}
.footericone{
    padding-left: 30%;
}
.infoleg{
    grid-area: f4;
}
.footerbas{
    width: 100%;
    padding-top: 5%;
    grid-area: f5;
}
.footertitresource{
    padding-bottom: 5%;
}
/* --------------------------- */
/* --------DEROULANT--------- */
/* ------------------------- */

.Categorie{
    flex-direction: column;
    justify-content: flex-start;
}
.boutoncategorie:hover{
    width: 100%;
    background: rgba(236,236,236, 0.5);

}
.Categorie a {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
}
.CategorieListe {
    justify-content: flex-start;
    align-items: flex-start;
    height: 30px;
    position: relative;
    display: inline-block;
}
.boutoncategorie{
    font-family: 'Roboto', sans-serif;
    color:white;
    border: none;
    background: none;
    width: 100%;
}

/*  MENU DEROULANT  */

.dropdownChild {
    display: none;
    width: 100%;
    height: auto;
    z-index: 1000;
    position: sticky;
    list-style: none;
}
.dropdownChild a {
    text-decoration: none;
    display: block;
}
.CategorieListe:hover .dropdownChild {
    display: block;
    width: 100%;
    background: #1d1d1d;
}
.dropdownChild li a:hover {
    background: rgba(236,236,236, 0.5);
    color: white;
}

/* Formulaire */

.formulaire{
    justify-content: flex-end;
    width: 50%;
}
.footertitreformulaire{
    padding-right: 2%;
}
.formulaire input{
    padding-right: 10%;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: white 1px solid;
    width: 134px;
    height: 18px;
}
::placeholder{
    font-size: 13px;
    padding-left: 40%;

}
.formulaire button{
    margin:5%;
    border: none;
    background: whitesmoke;
    height: 18px;
    width: 58px;
}



/* --------------------------- */
/* -----RESPONSIVE LVL1------ */
/* ------------------------- */


@media(max-width:1322px){
body{
    margin: 15%;
}

.headerToggleButton span{
    width: 40px;
    height: 10px;
 }

.jv, #pp, #myBtn, #myBtn1, #myBtn2, .txttransi{
    font-size:50px;
}

.couvrefeu{
    font-size: 40px;
}

.citation, .pptitre, .pptexte{
    font-size: 30px;
}

.readMe,.pptitreR, .pptexteR, .flippaysFRR, .flipnumeroFRR, .flippaysKRR, .flipnumeroKRR, .flippaysCHR, .flipnumeroCHR, .texte{
    font-size: 20px;
}
/* {
    font-size: 12px;
} */
.footertitresource, .footertitrereseaux, .footerinfotitre{
    font-size: 10px;
}
.flip-box{  
    display: none;
}

.flipreponsive{
    display: block;
}

.texteresponsive{
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content, .modal-content1, .modal-content2 {
    margin: 9%;
    padding: 1%;
    width: 80%; 
}
.DofusHeaderR, .LOLHeaderR, .OverHeaderR{
    height: 100%;
    width: 100%;
}
.DofusHeaderR{
    background: url(images/flip/LOGIN-SCREEN\ DOFUS\ 2.png) no-repeat center;
}
.flippaysFRR, .flipnumeroFRR, .flippaysKRR, .flipnumeroKRR, .flippaysCHR, .flipnumeroCHR{
    position: relative;
    text-align: center;
}
.flippaysFRR{
    top: 250px;
}
.flipnumeroFRR, .flippaysKRR{
    top: 268px;
}

.LOLHeaderR{
    background: url(images/flip/LOGIN-SCREEN\ LOL\ 2.png) no-repeat center;
}

.flipnumeroKRR{
    top: 283px;
}
.OverHeaderR{
    background: url(images/flip/LOGIN-SCREEN\ OVER\ 2.png) no-repeat center;
}
.flippaysCHR{
    top: 335px;
}
.flipnumeroCHR{
    top: 358px;
}
.flippaysCHR, .flipnumeroCHR{
    color: #1d1d1d;
}
.citation{
    border: none;
}
#myBtn, #myBtn1, #myBtn2{
    display: none;
}
#myBtnR, #myBtn1R, #myBtn2R{
    display: block;
    color: white;
    background: none;
    border: transparent 1px solid;
}
    
.modal-content, .modal-content1, .modal-content2 {
    margin: 9%;
    padding: 5%;
    height: auto;
    width: 80%; 
}
#fr, #kr, #ch{
    padding-left: 15%;
    height: 500px;
    justify-content: center;
}

footer{
    padding: 30px;
}
.formulaire{
    justify-content: flex-end;
    width: 50%;
}

}
/* --------------------------- */
/* -----RESPONSIVE LVL2------ */
/* ------------------------- */
@media(max-width:907px){
.jv, #pp{
    font-size: 20px;
}
.couvrefeu, #myBtn, #myBtn1, #myBtn2,  .txttransi{
    font-size:25px;
}
.texte{
    font-size: 10px;
}

.imageheader, #conclusion, .pp1, .pp2, .pp3, .pp4, .pp5, .pp6, .pptitre, .pptexte, .ppimage{
    display: none;
}

.imageheaderR, #conclusionR, .pp1R, .pp2R, .pp3R, .pp4R, .pp5R, .pp6R, .pptitreR, .pptexteR, .ppimageR{
    display: block;
}
.transiimg{
    width: 120%;
}
#ppR{
    margin-top: 35%;
    padding: 15%;
    text-align: center;
}
.pp1R,.pp2R ,.pp3R ,.pp4R ,.pp5R ,.pp6R{
    justify-content: center;
    align-items: center;
    padding: 8%;
}

.pptitreR, .pptexteR{
    padding: 2%;
    text-align: center;
    justify-content: center;
}
.ppimageR{
    justify-content: center;
    padding-left: 40%;
}


#myBtnR, #myBtn1R, #myBtn2R{
    display: block;
    color: white;
    background: none;
    border: transparent 1px solid;
}
}

/* --------------------------- */
/* -----RESPONSIVE LVL3------ */
/* ------------------------- */
@media(max-width:600px){

.imageheaderR{
    display: none;
}

.imageheaderR2{
    display: block;
}
.couvrefeu{
    font-size: 20px;
}
.texte{
    font-size: 10px;
}
.flippaysFRR2, .flipnumeroFRR2, .flippaysKRR2, .flipnumeroKRR2, .flippaysCHR2, .flipnumeroCHR2{
    font-size: 9px;
}
.imageresponsiveR{
    padding-left: 22%;
}
#ppR{
    margin-top: 35%;
    padding: 15%;
    text-align: center;
}
.pp1R,.pp2R ,.pp3R ,.pp4R ,.pp5R ,.pp6R{
    justify-content: center;
    align-items: center;
    padding: 8%;
}

.pptitreR, .pptexteR{
    padding: 2%;
    text-align: center;
    justify-content: center;
}
.ppimageR{
    padding-left: 25%;
}

#myBtnR, #myBtn1R, #myBtn2R{
    display: block;
    color: white;
    background: none;
    border: blue 0px;
}
}
/* --------------------------- */
/* -----RESPONSIVE LVL3------ */
/* ------------------------- */



@media(max-width:465px){

body{
    margin: 10%;
}
header,.liste{   
font-size: 20px;
}

.jv, #pp, .couvrefeu, #myBtn, #myBtn1, #myBtn2, .citation, .readMe, .txttransi{
    font-size: 15px;
}

.soit, .flippaysFRR2, .flipnumeroFRR2, .flippaysKRR2, .flipnumeroKRR2, .flippaysCHR2, .flipnumeroCHR2, .pptexteR, .pptitreR{
    font-size: 13px;
}
.footertitre{
    font-size: 10px;
}
.footertitresource, .footertitrereseaux, .footerinfotitre, .titreleg, .footertitreformulaire{
    font-size: 9px;
}

.imageheaderR2, .flipreponsive, .DofusHeaderR, .LOLHeaderR, .OverHeaderR, .flippaysFRR, .flippaysKRR, .flippaysCHR, .flipnumeroFRR, .flipnumeroKRR, .flipnumeroCHR{
    display: none;
}

.imageheaderR3, .texteresponsiveR2, .flipreponsiveR, .DofusHeaderR2, .LOLHeaderR2, .OverHeaderR2, .flippaysFRR2, .flippaysKRR2, .flippaysCHR2, .flipnumeroFRR2, .flipnumeroKRR2, .flipnumeroCHR2{
    display: block;
}

#headerhamburger{
    position: fixed;
    width: 170px;
    height: 50%;
}

.titre{
    height: 250px;
    padding-top: 25%;
    padding-left: 18%;
}

.modal-content, .modal-content1, .modal-content2 {
    height: auto;
}
#introUn, #introTrois{
    font-size: 12px;
    margin: 5%;
    height: 40%;
    width: 100%;
}

.DofusHeaderR2, .LOLHeaderR2, .OverHeaderR2{
    height: 100%;
    width: 100%;
}
.DofusHeaderR2{
    background: url(images/flip/LOGIN-SCREEN\ DOFUS\ 2R.png) no-repeat center;
}
.flippaysFRR2, .flipnumeroFRR2, .flippaysKRR2, .flipnumeroKRR2, .flippaysCHR2, .flipnumeroCHR2{
    height: 150px;
    position: relative;
    text-align: center;
}
.flippaysFRR2{
    top: 150px;
}
.flipnumeroFRR2{
    top: 28px;
}

.LOLHeaderR2{
    background: url(images/flip/LOGIN-SCREEN\ LOL\ 2R.png) no-repeat center;
}

.flippaysKRR2{
    top: 162px;
}
.flipnumeroKRR2{
    top: 36px;
}
.OverHeaderR2{
    background: url(images/flip/LOGIN-SCREEN\ OVER\ 2R.png) no-repeat center;
}
.flippaysCHR2{
    top: 204px;
}
.flipnumeroCHR2{
    top: 84px;
}
.flippaysCHR2, .flipnumeroCHR2{
    color: #1d1d1d;
}

#fr, #kr, #ch{
    height: 400px;
}

.headerToggleButton span{
    width: 25px;
    height: 10px;
}
.formulaire input{
    padding-right: 10%;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: white 1px solid;
    width: 100px;
    height: 18px;
}

#myBtnR, #myBtn1R, #myBtn2R{
    display: block;
    color: white;
    background: none;
    outline: none;
    border: blue 0px;
}
}