*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------------------- */
/* ---------BODY------------ */
/* ------------------------ */
body{
    background: black;
    color: white;
    margin:90px 62px 0 186px;
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}
.grid{
    display: grid;
}
    /* font */
.couvrefeu, .jv, #pp, .pptitre, .footertitre{
    font-family: 'Press Start 2P', cursive;
}
    /* size */
.jv, #pp{
    font-size: 100px;
}
.couvrefeu, #myBtn, #myBtn1, #myBtn2, .citation, .txttransi{
    font-size:70px;
}
.close, .close1, .close2{
    font-size: 50px;
}
.pptitre, .readMe, .soit{
    font-size: 36px;
}
header, .liste{
    font-size: 30px;
}
#introUn, #introTrois, .pptexte{
    font-size: 24px;
}
.footertitresource, .footertitrereseaux, .footerinfotitre{
    font-size: 18px;
}
.boutoncategorie.CategorieListe, .CategorieListe a , .titreleg{
    font-size: 14px;
}

/* --------------------------- */
/* -------DISPLAY NONE------- */
/* ------------------------- */
        .flipreponsive, .imageheaderR, #myBtnR, #myBtn1R, #myBtn2R, .pp1R, .pp2R, .pp3R, .pp4R, .pp5R, .pp6R, .pptitreR, .pptexteR, .ppimageR, #conclusionR{
        display: none;
        }
        

/* --------------------------- */
/* --------HAMBURGER--------- */
/* ------------------------- */

#headerhamburger{
   position: fixed;
   width: 230px;
   height: 100%;
   background: rgba(0,0,0, 0.5);
   left: -230px;
   transition: .5s ease-out;
   z-index: 4;
}

#headerhamburger a{
   text-decoration: none;
}

.headerToggleButton{
   position: absolute;
   top: 20px;
   left: 250px;
   cursor: pointer;
   height: 50px;
   width: 50px;
}

.headerToggleButton span{
   width: 60px;
   height: 10px;
   background: rgb(236, 236, 236);
   
   display: block;
   margin-top: 4px;
   transition: .5s ease;
}

.liste{
   color: #fafafa;
   list-style-type: none;
   cursor: pointer;
   padding-bottom:5% ;
   padding-left: 20px;
   text-decoration: none;
}

.liste:hover{
    
   background: rgba(236,236,236, 0.5);
   color: #fafafa;
}

#headerhamburger.active{
   left: 0;
}

#headerhamburger.active .headerToggleButton{
   top: 2.8rem;
   left: 235px;
}

#headerhamburger.active span{
   position: absolute;
}
#headerhamburger.active span:nth-child(1){
   transform: rotate(45deg);
}

#headerhamburger.active span:nth-child(2){
   opacity: 0;
}
#headerhamburger.active span:nth-child(3){
   transform: rotate(-45deg);
}

/* --------------------------- */
/* ------IMAGE + TITRE------- */
/* ------------------------- */
.titre{
    height: 600px;
}
    /* JEUX VIDEOS */
.jv{
    position: sticky;  
    top: 1em; 
}
    /* IMAGE */
.imageheader{
    padding: 5%;
    justify-content: center;
}
    /* BARRE QUI CLIGNOTE */
.blink{
    animation: blink 1s linear infinite;
}
  @keyframes blink{  
    50% {opacity: 0;}
}

.couvrefeu{
    justify-content: flex-end;
}

/* --------------------------- */
/* -----------INTRO---------- */
/* ------------------------- */

#introUn{
    padding-top: 20%;
}
.introA, .introB{
    text-align: center;
}
#introTrois{
    padding-bottom: 20%;
}
#introUn, #introTrois{
    font-size: 24px;
}
#introDeux{
    padding: 5%;
    justify-content: center;
}

/* --------------------------- */
/* ------------FLIP---------- */
/* ------------------------- */

.flip-box{
    width: 50%;
    height: 446px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
  
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.flip-box-back {
    transform: rotateY(180deg);
}

/* --------------------------- */
/* --------INFORMATIONS------ */
/* ------------------------- */

#fr, #kr, #ch{
    padding-left: 10%;
    height: 846px;
    justify-content: center;
}

#myBtn, #myBtn1, #myBtn2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-left: 15% ;
    background: none;
    border: none;
}
.citationkr{
    width: 100%;
}
.citation{
    border-right: white 2px solid;
    font-style:italic;
    justify-content: center;
    align-items: center;

}

.texte{
    text-align: center;
    background: rgba(29,29,29, 0.7);
    width: 100%;
}
.modal, .modal1, .modal2{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(29,29,29, 0.5);
}

.modal-content, .modal-content1, .modal-content2 {
    margin: 9%;
    padding: 5%;
    height: 90%;
    width: 80%; 
}
.modal-content{
    background: url(images/images/MapDofus.png) no-repeat center / cover;
}
.modal-content1{
    background: url(images/images/MapLol.png) no-repeat center / cover;
}
.modal-content2{
    background: url(images/images/MapOver.png) no-repeat center / cover;
}
.close, .close1, .close2 {
    float: right;
    font-weight: bold;
}
  
.close:hover,
.close:focus,.close1:hover,
.close1:focus,.close2:hover,
.close2:focus  {
    text-decoration: none;
    cursor: pointer;
}
/* --------------------------- */
/* --------TRANSITION-------- */
/* ------------------------- */

#transition{

    flex-direction: column;
    height: 1100px;
}
.transi{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    position: sticky;
}
.txttransi{
    padding-left:50px;
    justify-content:center;  
}

.chargement{

        animation: blink 3s linear infinite;
    }
      @keyframes chargement{ 
        0% {opacity: 0;}
        50% {opacity: 0;} 
        100% {opacity: 0;}
    }
/* --------------------------- */
/* --------CONCLUSION-------- */
/* ------------------------- */

#pp{
    margin-top: 35%;
    padding: 15%;
    text-align: center;
}
.pp1,.pp2 ,.pp3 ,.pp4 ,.pp5 ,.pp6{
    justify-content: center;
    align-items: center;
    padding: 8%;
}

.pptitre, .pptexte{
    padding: 2%;
    text-align: center;
    justify-content: center;
}
.ppimage{
    justify-content: center;
    padding-left: 30%;
}

#conclusion{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


/* --------------------------- */
/* --------CONCLUSION-------- */
/* ------------------------- */


footer{
    font-family: 'Roboto', sans-serif;
    gap: 13%;
    padding: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "f1 f1 f1" "f2 f3 f4" ". f5 f5";
}
.footertitre, .footertitresource, .reseaux, .infoleg{
    justify-content: center;
}
.footertitre{
    padding-bottom: 5%;
    grid-area: f1;
}
.source{
    grid-area: f2;

}
.reseaux{
    width: 100%;
    grid-area: f3;
}
.footericone{
    padding-left: 30%;
}
.infoleg{
    grid-area: f4;
}
.footerbas{

    width: 100%;
    grid-area: f5;
}
.footertitresource{
    padding-bottom: 5%;
}
/* --------------------------- */
/* --------DEROULANT--------- */
/* ------------------------- */

.Categorie{
    flex-direction: column;
    justify-content: flex-start;
}
.boutoncategorie:hover{
    width: 100%;
    background: rgba(236,236,236, 0.5);

}
.Categorie a {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
}
.CategorieListe {
    justify-content: flex-start;
    align-items: flex-start;
    height: 30px;
    position: relative;
    display: inline-block;
}
.boutoncategorie{
    font-family: 'Roboto', sans-serif;
    color:white;
    border: none;
    background: none;
    width: 100%;
}

/*  MENU DEROULANT  */

.dropdownChild {
    display: none;
    width: 100%;
    height: auto;
    z-index: 1000;
    position: sticky;
    list-style: none;
}
.dropdownChild a {
    text-decoration: none;
    display: block;
}
.CategorieListe:hover .dropdownChild {
    display: block;
    width: 100%;
    background: #1d1d1d;
}
.dropdownChild li a:hover {
    background: rgba(236,236,236, 0.5);
    color: white;
}

/* Formulaire */

.formulaire{
    justify-content: flex-end;
    width: 100%;
}
.footertitreformulaire{
    padding-right: 2%;
}
.formulaire input{
    width: 134px;
    height: 18px;
}
::placeholder{
    font-size: 13px;
    padding-left: 40%;

}
.formulaire button{
    height: 18px;
    width: 58px;
}



/* --------------------------- */
/* -----RESPONSIVE LVL1------ */
/* ------------------------- */


@media(max-width:1322px){
body{
    margin: 10%;
    font-family: 'Roboto', sans-serif;
}
.jv, #pp{
    font-size: 60px;
}

.couvrefeu, #myBtn, #myBtn1, #myBtn2,  .txttransi{
    font-size:50px;
}
.citation{
    font-size: 30px;
}

.readMe,.pptitreR, .pptexteR{
    font-size: 20px;
}
.texte{
    font-size: 15px;
}

.flip-box{  
    display: none;
}

.flipreponsive{
    display: block;
    width: 100%;
}

.imageresponsive{
    display: flex;
    padding: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.citation{
    border: none;
}
#myBtn, #myBtn1, #myBtn2{
    display: none;
}
#myBtnR, #myBtn1R, #myBtn2R{
    display: block;
    color: white;
    background: none;
    border: none;
    }
    
.modal-content, .modal-content1, .modal-content2 {
    margin: 9%;
    padding: 5%;
    height: 100%;
    width: 80%; 
}
#fr, #kr, #ch{
    padding-left: 15%;
    height: 500px;
    justify-content: center;
}
}
@media(max-width:907px){
.jv, #pp{
    font-size: 30px;
}
.couvrefeu, #myBtn, #myBtn1, #myBtn2,  .txttransi{
    font-size:25px;
}
.texte{
    font-size: 10px;
}

.imageheader, #conclusion, .pp1, .pp2, .pp3, .pp4, .pp5, .pp6, .pptitre, .pptexte, .ppimage{
    display: none;
}
.imageheaderR, #conclusionR, .pp1R, .pp2R, .pp3R, .pp4R, .pp5R, .pp6R, .pptitreR, .pptexteR, .ppimageR{
    display: block;
}
.pptitreR{
    padding-left: 20%;
}
.ppimageR{
    padding-right: 30%;
    padding-left: 30%;

}
.pp1R, .pp2R, .pp3R, .pp4R, .pp5R, .pp6R{
    padding-bottom: 10%;
    padding-left: 40%;
    padding-right: 20%;
}
}